div{

    border: 2px solid black;

}

.Baground {
    background-color: white;
    background-size: 100%;
}

.header {
    /*   */
    background-size: 100%;
}

ul.hr {
    margin: 0; 
    padding: 4px; 
}

    ul.hr li {
        display: inline;
    }

div .Up-Fooder {
    background: url(../img/Header_up_img.jpg) no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    background-position: center;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    height: 450px;
}
    div.Up-Fooder h1 {
        margin:200px;
        text-align: center;
        color: white;
    }
    div.Up-Fooder h3 {
        margin-top: inherit;
        text-align: center;
        color:white;
    }
    div.Up-Fooder h4 {
        margin-top:10px;
        text-align: center;
        color: white;
    }
    