div{

    border: 2px solid black;

}


.header {
    width: 100%;
    background: url(../img/1.jpg) no-repeat;
    background: linear-gradient(to right, rgba(9, 5, 47, .85) 0%, rgba(49, 29, 94, .85) 100%);
    background-size: 100%;
}